th{
	background-color:#2B547E;
	color: white;
border-radius: 25px;

}
table {
	border: 1px solid #ccc;
	border-radius: 25px;
box-shadow: 5px 5px 5px #ccc;

}
	
tr:nth-child(even){
	background-color: #ccc;
}
td{
	text-align: center;
	}
td:nth-child(1){
	text-align: left;
}